#nml-field {
  .gal {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    &:hover .del { top: 8px }
    .del {
      background: var(--danger);
      border-radius: 8px;
      cursor: pointer;
      fill: var(--white);
      height: 30px;
      padding: 5px;
      position: absolute;
      right: 8px;
      top: -100px;
      transition: .3s top;
      width: 30px;
    }
  }
  .popup {
    .bg-white {
      max-width: 1280px;
      position: relative;
      width: 90%;
    }
    .close {
      font-size: 32px;
      font-weight: 100;
      height: 50px;
      line-height: 1;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      z-index: 2;
    }
  }
}
