#nml-tool {
  .card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100%;
    position: relative;
    .checkbox {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }
    .check {
      border: 5px solid var(--white);
      border-radius: 4px;
      height: 100%;
      width: 100%;
      svg { display: none }
    }
    input[type="checkbox"]:checked ~ .check { border-color: var(--primary) }
  }
  .item {
    transition: .2s opacity;
    &:hover { opacity: .7 }
  }
  .popup {
    .bg-white {
      max-width: 600px;
      position: relative;
      width: 90%;
    }
    .close {
      font-size: 32px;
      font-weight: 100;
      height: 50px;
      line-height: 1;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      z-index: 2;
    }
  }
}

body.overflow-hidden #nova { overflow-y: scroll }

@media (min-width: 1280px) {
  #nml-tool {
    .item { width: 10% }
  }
}

@media (max-width: 767px) {
  #nml-tool {
    .item { width: 25% }
  }
}
