.nml-field-index {
  .card {
    background: center no-repeat #fcfcfc / 24px;
    height: 50px;
    margin: 5px 0;
    text-decoration: none;
    width: 50px;
    .count {
      background: var(--primary-dark);
      border-radius: 4px;
      color: var(--white);
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      margin: -3px -5px;
      min-width: 20px;
      padding: 0 4px;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
    }
  }
}

.nml-field-form {
  .gal {
    .card {
      background: center no-repeat / 50px;
      cursor: pointer;
      overflow: hidden;
      padding-bottom: 100%;
      position: relative;
      &:hover .delete { top: 8px }
    }
    &.line {
      width: 100%;
      .card {
        background: #fcfcfc !important;
        border-left: 4px solid var(--primary-dark);
        padding: 15px 20px;
        &:hover {
          border-left-color: var(--primary-50)
        }
      }
    }
  }
  .delete {
    background: var(--danger);
    border-radius: 8px;
    cursor: pointer;
    fill: var(--white);
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 8px;
    top: -100px;
    transition: .3s top;
    width: 30px;
  }
  .popup {
    .bg-white {
      max-width: 1280px;
      position: relative;
      width: 90%;
    }
    .close {
      font-size: 32px;
      font-weight: 100;
      height: 50px;
      line-height: 1;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 50px;
      z-index: 2;
    }
  }
}

.no-image-file {
  background-repeat: no-repeat;
  background-position: top 20px center;
  height: 80px;
  position: relative;
  &:before, &:after {
    background: rgba(#000, .5);
    bottom: 5px;
    content: '';
    height: 15px;
    left: 0;
    line-height: 15px;
    position: absolute;
    width: 100%;
  }
  &:after {
    background: transparent;
    color: #fff;
    content: attr(title);
    left: 8px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 16px);
  }
}

[trix-nml] .attachment__metadata-container { display: none }
